* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #222222;
}

input {
  height: 35px;
  width: 250px;
  background: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: white;
  outline: none;
  padding: 0 10px;
}

.enter {
  height: 35px;
  width: 100px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  margin-left: 10px;
}

.enter:hover {
  background: whitesmoke;
  color: #222222;
  cursor: pointer;
 }

.task__item {
  position: absolute;
  cursor: move;
  min-width: 220px;
  color: #222222;
  padding: 1em;
  border-radius: 5px;
  font-size: 18px;
}

.delete__task {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: none;
}
.delete__task:hover {
  color: red;
  cursor: pointer;
}